/*fuentes importadas*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*Estilos generales*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: white;
}

.sinpadding [class*="col-"] {
    padding: 0;
}

.card-title {
    text-transform: uppercase;
}

/*Barrra de navegacion*/
.contenedor-navbar {
    height: 150px;
    border-bottom-style: solid;
    border-bottom-color: #5b9bd8;
    border-bottom-width: 10px;
}

.navbar {
    height: 140px;
    background-color: #ffff;
}

.logo-navbar {
    width: 80%;
}

.nav-link {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.5rem;
    color: #5b9bd8;
}

.navbar-light .navbar-nav .nav-link {
    color: #5b9bd8;
    z-index: 207;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #4d86bb;
    z-index: 207;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #5b9bd8;
    z-index: 207;
}

.nav-item {
    background-color: #ffff;
    z-index: 90000;
}

/*slider*/
.contendor-slider {
    height: 85vh;
    width: 100%;
}

.slider {
    width: 100%;
    height: 100%;
    background: url(../img/slider2.jpg) no-repeat center center;
    background-size: cover;


}

/*tamaño de la caja del formulario*/
.formulario-slider {
    margin-top: 2%;
    margin-bottom: 30px;
    height: 600px;
    width: 100%;
    background-color: #5b9cd8c4;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #9c9a9abd;
}

.boton-cel {
    display: none;
}

form .form-group {

    margin-right: 2%;
}

/*textos formulario*/
.formulario-slider h1 {
    margin-top: 2%;
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.formulario-slider h2 {
    margin-top: 2%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.texto-slide {
    position: relative;
}
.contenedorTxtInicio{
    height: 100%;
}
.contenedorTxtInicio h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 10px #ffffffbd;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}


.label31 {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.label3 {
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.labelN_pasajeros{
    font-size: 1.1rem; 
    color: white; 
    font-weight: 500
}

.espacio {
    /*background-color: white;*/
}

/*boton formulario*/
.btn-primary {
    background-color: #3886cf;
}

.btn-primary:hover {
    color: black;
    background-color: white;
}

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
/* dispositivos extra pequeños (parados Telefonos, maximo 576px)*/
@media (max-width: 575.98px) {
    .formulario-slider {
        display: none;
    }
    .contenedorTxtInicio h1 {
        margin-top: 80%;
        font-size: 3rem;
        line-height: 40px;
        font-weight: 800;
        text-align: center;
    }
    .boton-cel{
        margin-top: -50%;
    }
}

/* dispositivos pequeños (Telefonos acostados, minimo 576px maximo 768)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .formulario-slider {
        display: none;
    }
}

/*  Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .formulario-slider {
        margin-top: 10%;
        margin-bottom: 30px;
        height: 700px;
        width: 100%;
        background-color: #5b9cd8c4;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px #9c9a9abd;
    }
    .contenedorTxtInicio{
        height: 800px;
    }
    .contenedorTxtInicio h1 {
        font-size: 2.5rem;
        line-height: 40px;
        font-weight: 800;
        text-align: center;
    }
    .label31 {
        color: white;
        font-size: 12px;
        font-weight: 500;
    }
    .labelN_pasajeros{
        font-size: 12px; 
        color: white; 
        font-weight: 500
    }
}

/*  Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .formulario-slider {
        margin-top: 2%;
        margin-bottom: 30px;
        height: 630px;
        background-color: #5b9cd8c4;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px #9c9a9abd;
    }
    .formulario-slider h1 {
        margin-top: 2%;
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }
    .formulario-slider h2 {
        margin-top: 2%;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
    .label31 {
        color: white;
        font-size: 13px;
        font-weight: 500;
    }
    .labelN_pasajeros{
        font-size: 13px; 
        color: white; 
        font-weight: 500
    }
    .contenedorTxtInicio{
        height: 700px;
    }
    .contenedorTxtInicio h1{
    font-size: 2.7rem;
    text-shadow: 2px 2px 4px lightslategrey;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .formulario-slider {
        margin-top: 2%;
        margin-bottom: 30px;
        height: 600px;
        width: 100%;
        background-color: #5b9cd8c4;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px #9c9a9abd;
    }
}

/*unidades*/
.unidades h1 {
    margin-top: 2.5%;
    color: #5b9bd8;
    text-shadow: 4px 4px 4px #00000044;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}


/*contenedor carros muestra*/
.carro-muestra {
    background-color: white;
    border: #5b9bd8 10px solid;
    margin-bottom: 5%;
    margin-top: 2.5%;
    margin-left: 1%;
    box-shadow: 10px 10px 15px grey;
    font-family: 'Raleway', sans-serif;
}

/*Textos corros muestra*/
.contenedor-carros-muestra h1 {
    margin-top: 2.5%;
    color: #5b9bd8;
    text-shadow: 4px 4px 4px #00000044;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.carro-muestra h2 {
    color: #5b9bd8;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
}

.carro-muestra h3 {
    color: #5b9bd8;
    font-size: 1.2rem;
    padding-left: 5%;
    padding-top: 3%;
    text-shadow: 1px 1px 1px grey;
}

.carro-muestra ul {
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px grey;
    padding-left: 10%;

}

/*Img carros Muestra*/
.img-carros-muestra {
    width: 100%;
}

/*Contenedor Ventajas*/
/*Contenedor iconos ventajas*/
.contenedor-icono-ventajas {
    display: flex;
    justify-content: center;
}

.parrafo-ventajas {
    text-align: center;
}

/*Logo ventajas*/
.logo-contenido {
    width: 10%;
    margin-bottom: 2.5%;
}

/*iconos ventajas*/
.iconos-ventajas {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    font-size: 3rem;
    color: #a0bf4b;
}

/*Tajetas de ventajas*/
.card {
    box-shadow: 1px 1px 2px 1px grey;
    margin-bottom: 5%;
    border: #5b9bd8 10px solid;
}

/*Texto Tarjetas*/
.card-body ul {
    padding-left: 5%
}

/*img tarjeta*/
.turismo {
    width: 100%;
    height: 300px;
    background: url(../img/Turismo.jpg)no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 2.5%;
    margin-top: 2.5%;

}

/*texto Turismo*/
.turismo h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    color: white
}

/*mapa */
.map {
    display: table;
}

.map h1 {
    display: table-cell;
    vertical-align: middle;
}

/*Manto footer*/
.manto {
    background-color: #0000009d;
    height: 100%;
}

/*footer*/
footer {
    margin-top: 2.5%;
    height: 200px;
    background-color: #000000;
    font-size: 13px;
    color: #808080;
    font-weight: 400;
    padding: 1%;
}

/*link footer*/
footer a {
    font-size: 13px;
    color: #808080;
    font-weight: 400;
}

footer a:hover {
    font-size: 13px;
    color: #808080;
    font-weight: 400;
}

/*icono footer*/
.icono-whats {
    color: #25d366;
}

.icono-footer {
    color: white;
}

/*Estilos pagina de servicios*/
.Pag-Servicios-tajetas {
    margin-top: 5%;
}

.img-slider {
    width: 100%;
    height: 350px;
}

.Pag-Servicios-tajetas .card {
    margin-top: 2.5%;
}

.tarjeta-servicios {
    margin-top: 5%;
}

/*Pag quienes somos*/
.contenedor-logo-quienes {
    display: flex;
    justify-content: center;
}

.contenedor-logo-quienes img {
    width: 40%;
    height: 40%;
    margin-bottom: 2.5;
}


.pag-quienes h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: #5b9bd8;

}

.pag-quienes h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: #5b9bd8;
}

.parrafo1 p {
    font-size: 1.4rem;
}


.especiales {
    font-size: 1.4rem;
}

.cliente {
    font-size: 1.5rem;
}

.equipo {
    font-size: 1.5rem;
}

.pag-quienes .row {
    margin-top: 7%;

}

/*pag contacto*/
.label3 {
    color: #5b9bd8;
    font-size: 1.2rem;
    font-weight: 500;
}

.label4 {
    color: #5b9bd8;
    font-size: 1rem;
    font-weight: 500;
}

.titulo-contacto {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: #5b9bd8;
}

.subtitulo-contacto {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #5b9bd8;
}

/*redes sociales*/
.social-bar {
    position: fixed;
    left: 0;
    top: 35%;
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 103;
    text-decoration: none;
}

.social-bar a:hover {
    color: white;
    text-decoration: none;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.icon2 {
    color: white;
    text-decoration: none;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.fa-facebook-square {
    background: #2E406E;
    text-decoration: none;
}

.fa-twitter-square {
    background: #339DC5;
    text-decoration: none;
}

.fa-whatsapp {
    background: #4dc247;
    text-decoration: none;
}

.fa-instagram {
    background: linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    text-decoration: none;
}

.fa-phone-volume {
    background: #002663;
    text-decoration: none;
}

.fa-mobile-alt {
    background: #4790db;
    text-decoration: none;
}

.icon2:first-child {
    border-radius: 0 1rem 0 0;
}

.icon:last-child {
    border-radius: 0 0 1rem 0;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 0 1rem 1rem 0;
    -webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

.icon2:hover {
    padding-right: 4.5rem;
    border-radius: 0 1rem 1rem 0;
    -webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

@media (max-width: 767px) {
    .social-bar {
        font-size: 1.5rem;
    }

    .carro-muestra {
        margin-left: 0%;
    }

    .logo-contenido {
        width: 25%;
    }

    .parrafo-ventajas {
        margin-left: 10%;
    }

    .turismo h1 {
        font-size: 3rem;
    }

    .boton-cel {
        margin-top: 90%;
        display: inline;
    }

    .footer {
        margin-left: 10%;
        font-size: 0.4rem;
    }

    .contenedor-carros-muestra h1 {
        font-size: 3rem;
    }

    .quienes-movil {
        margin-left: 5%;
    }

    .quienes-movil-titulo {
        margin-left: 5%;
    }

    .quienes-movil-titulo2 {
        margin-left: 10%;
    }

    .pag-contacto {
        margin-left: 10%
    }

}

.quienes-text {
    font-size: 1.5rem;
}

.modal-meses {
    width: auto;
    margin-top: 20vh;
    height: auto;
}

.modal-M {
    margin-top: -40%;
}